.App {
  text-align: center;
  height: 100%;
  color: white;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.connect {
  padding-top: 32px 12px;
  font-size: 1.7rem;
  border: none;
  outline: none;
  font-family: "Noto sans JP";
  font-weight: 500;
  background-color: transparent;
  border: 2px solid #ef5b0c;
  color: #ef5b0c;
  cursor: pointer;
}
.connect:hover {
  background-color: #ef5b0c;
  color: white;
}
.connected {
  padding-top: 32px 12px;
  font-size: 1.7rem;
  border: none;
  outline: none;
  font-family: "Poppins";
  font-weight: 500;
  background-color: #ef5b0c;
  color: white;
  cursor: pointer;
}
.hero {
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.left-side {
  width: 100%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left-side h1 {
  font-family: "Poppins", sans-serif;
}
.left-side p {
  font-size: 1.4rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
}

.mint-section {
  margin-top: 60px;
  margin-bottom: 60px;
}
h1 {
  font-size: 3rem;
}
.pokeball-box {
  margin-top: 60px;
  padding: 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mint-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.mintBtn {
  background-color: transparent;
}

.mintBtn:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.poke-card {
  width: 40%;
  margin: auto;
  border: 2px solid white;
  border-radius: 5px;
  padding: 12px;
}
.poke-img {
  width: 100%;
}
.poke-title {
  font-size: 2rem;
  font-family: "Poppins";
  text-transform: uppercase;
}
.poke-attributes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.poke-rarity {
  width: 20%;
  border: 1px solid #30e3df;

  border-radius: 5px;
  font-size: 1.3rem;
}
.poke-type {
  font-size: 1.3rem;
  border-radius: 5px;
  width: 20%;

  border: 1px solid #30e3df;
}

.etherscanBtn {
  border: 2px white;
  padding: 12px;
  border-radius: 25px;
  font-size: 1.3rem;
  margin: 18px 0 10px;
  color: black;
}
.etherscanBtn a {
  text-decoration: none;
  color: black;
}
